<div class="container">
  <div class="vending">

    <section class="sign">
      <p>Drink Hacker Cola</p>
    </section>

    <section class="input">
      <p>Quantity: <%= @vending_machine.quantity %></p>
      <p>Price: <%= @vending_machine.price %></p>
      <p>Amount Deposited: <%= @vending_machine.amount_deposited %></p>
      <p>Please Enter <%= @vending_machine.amount_remaining %> cents</p>
      <article>
        <button onclick="window.location.href='/nickel'">Nickel</button>
        <button onclick="window.location.href='/dime'">Dime</button>
        <button onclick="window.location.href='/quarter'">Quarter</button>
      </article>
      <article>
        <button onclick="window.location.href='/purchase'"
                class="purchase"
                <%= @disabled %>
                style="background-color: #BBFFBB">Purchase</button>
        <!--
        <form action="/purchase">
          <input type="submit" value="Purchase">
        </form>
        -->
      </article>
      <article class="output">
        <p><%= @hacker_cola_message %></p>
        <p><%= @change_message %></p>
      </article>
    </section>
  </div>
</div>
